[submodule "RestKit"]
	path = RestKit
	url = git://github.com/RestKit/RestKit.git
[submodule "CocoaLumberjack"]
	path = CocoaLumberjack
	url = git://github.com/robbiehanson/CocoaLumberjack.git
[submodule "V8HorizontalPickerView"]
	path = V8HorizontalPickerView
	url = git://github.com/veader/V8HorizontalPickerView.git
[submodule "MBProgressHUD"]
	path = MBProgressHUD
	url = git://github.com/jdg/MBProgressHUD.git
[submodule "AQGridView"]
	path = AQGridView
	url = git://github.com/AlanQuatermain/AQGridView.git
